# Configuration file

general {
    # 允许连锁种植的耕地白名单 [default: [minecraft:farmland]]
    S:chainPlantableFarmlands <
        minecraft:farmland
     >

    # 启用调试模式 [default: false]
    B:enableDebugMode=false

    # 是否允许对角线连锁 [default: false]
    B:enableDiagonalChaining=false

    # 创造模式是否启用连锁挖掘 [default: true]
    B:enableInCreative=true

    # 是否忽略工具兼容性检查 [default: true]
    B:ignoreToolCompatibility=true

    # 是否匹配完整的方块状态 [default: false]
    B:matchIBlockState=false

    # 是否匹配完整的种子方块状态 [default: false]
    B:matchseedIBlockState=false

    # 存活模式下连锁挖掘的最大方块数 [range: 1 ~ 4096, default: 64]
    I:maxBlocksInChain=64

    # 创造模式下连锁挖掘的最大方块数 [range: 1 ~ 16384, default: 256]
    I:maxBlocksInChainCreative=256

    # 连锁操作的最大方块数||Maximum number of blocks for chain operations [range: 1 ~ 4096, default: 64]
    I:maxChainBlocks=64

    # 最大连锁搜索深度 [range: 1 ~ 64, default: 16]
    I:maxChainDepth=16

    # 最大挖掘深度 [range: 1 ~ 64, default: 16]
    I:maxMiningDepth=16

    # 不允许连锁挖掘的方块黑名单||Blocks that should not be chain mined [default: [minecraft:bedrock]]
    S:nonChainableBlocks <
        minecraft:bedrock
     >

    # 是否需要下蹲才能触发连锁挖掘 [default: false]
    B:requireSneaking=false

    # 不允许连锁种植的种子黑名单||Seeds that should not be chain planted [default: ]
    S:seedBlacklist <
     >

    # 是否将连锁挖掘的掉落物传送到玩家身下 [default: false]
    B:teleportDropsToPlayer=false
}


