# Configuration file

server {
    # 启用饥饿度保护(防止饥饿值过低时无法挖掘)||Enable hunger protection (prevent mining when hunger is too low) [default: true]
    B:hungerProtectionEnabled=true

    # 饥饿度阈值 (最小值为0，最大值为20)||Hunger threshold (minimum value is 0, maximum value is 20) [range: 0.0 ~ 20.0, default: 3.0]
    S:hungerThreshold=3.0

    # 工具耐久阈值 (如果是小于等于1.0的值则表示百分比，大于1.0表示固定值)||Tool durability threshold (if the value is less than or equal to 1.0, it represents a percentage, otherwise it represents a fixed value) [range: 0.01 ~ 1000.0, default: 0.1]
    S:toolDurabilityThreshold=0.1

    # 启用工具保护模式(防止工具耐久过低导致损坏)||Enable tool protection mode (prevent tool durability from being too low) [default: true]
    B:toolProtectionEnabled=true
}


