# Configuration file

client {
    # 是否启用调试模式||Whether to enable debug mode [default: false]
    B:Debug=false

    # 按住模式关闭时，连锁状态重置时间(秒)||Chain state reset time when hold mode is off (seconds) [range: 1 ~ 32767, default: 60]
    I:frozentimer=60

    # 消息显示样式 (actionbar 或 chat)||Message display style (actionbar or chat) [default: actionbar]
    S:messageStyle=actionbar

    # 是否需要按住键来激活连锁模式||Whether to hold the key to activate the chain mode [default: false]
    B:requireKeyHold=false

    # 是否显示连锁方块数量||Whether to show the number of chain blocks [default: true]
    B:showBlockCount=true
}


